{
  "presets": [
    "stage-0",
    "latest",
    "node6",
    "react"
  ],
  "plugins": [
    "transform-react-display-name",
    "transform-decorators",
    "transform-class-properties",
    "transform-es2015-classes"
  ]
}
