version: "{build}"

environment:
  matrix:
    # node.js
    - nodejs_version: "0.10"
    - nodejs_version: "0.11"
    - nodejs_version: "0.12"
    # io.js
    - nodejs_version: "1.0"
    - nodejs_version: "2.0"

matrix:
  fast_finish: true

install:
  - ps: Install-Product node $env:nodejs_version
  - node --version
  - npm --version
  - npm install

test_script:
  - npm test

build: off
